/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

@font-face {
    font-family: "PP Hatton Medium";
    src: url("https://db.onlinewebfonts.com/t/9e65328448e32690935f5e0dec7e40be.eot");
    src: url("https://db.onlinewebfonts.com/t/9e65328448e32690935f5e0dec7e40be.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/9e65328448e32690935f5e0dec7e40be.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/9e65328448e32690935f5e0dec7e40be.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/9e65328448e32690935f5e0dec7e40be.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/9e65328448e32690935f5e0dec7e40be.svg#PP Hatton Medium")format("svg");
}

/* 
  source WebFont: https://www.onlinewebfonts.com/download/9e65328448e32690935f5e0dec7e40be */
/*
  
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
    background: #a8cfd3;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
    resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */


html {
    font-size: 16px;
}

body {
    font-size: 1em;
    background-color: #2b2c2c;
    font-family: 'Open-Dyslexic', sans-serif;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: #2b2c2c;
}


p {
    font-size: .875em;
    line-height: 1.285;
    margin: 0;
    font-weight: bold;
    font-family: 'Open-Dyslexic', sans-serif;
    color: #2b2c2c;
}

img {
    width: 100%;
}

h3 {
    font-family: 'Open-Dyslexic', sans-serif;
    font-size: 2.25rem;
    color: #2b2c2c;
}

h4 {
    font-family: 'Open-Dyslexic', sans-serif;
    font-size: 1.75rem;
    color: #2b2c2c;

}

main {
    color: #2b2c2c;
    background-color: #2b2c2c;
    font-family: 'Open-Dyslexic', sans-serif;
}

/* ---------------Mobile Styles - Homepage --------->
  /* ------------------------ HEADER ---------*/


header {
    color: #2b2c2c;
    background-color: #eae4dd;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    border: #2b2c2c 3px solid;
}

header .content-wrapper {
    /* display: flex;
  justify-content: center;
  width: 85%;
  align-items: center;
  flex-flow: row wrap; */
    display: block;
    margin-bottom: 60px;

    width: 100%;
}



/* ---------------- NAVIGATION -------*/
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    color: #2b2c2c;
    background-color: #eae4dd;
    position: relative;
    font-family: 'Open-Dyslexic', sans-serif;
    font-weight: bold;
    margin-bottom: 70px;
    text-align: left;
}


/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    background-color: #2b2c2c;
    color: #eae4dd;
    font-family: 'Open-Dyslexic', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    text-align: center;
}

/* Style the hamburger menu */
.topnav a.icon {
    background-color: #2b2c2c;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    border-radius: 10px;
}



/* Style the active link (or home/logo) */
.active {
    color: #2b2c2c;
    background-color: #eae4dd;
    font-family: 'Open-Dyslexic', sans-serif;
}

.languages a {
    display: inline-block;
    border-radius: 35px;
}

.menu {
    font-family: 'Open-Dyslexic', sans-serif;
    font-weight: bold;
}


header .home-title {
    display: block;
}

header h1 {
    color: #2b2c2c;
    background-color: #eae4dd;
    font-family: 'Open-Dyslexic', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    margin: 0;
    display: block;
}


header h2 {
    color: #2b2c2c;
    background-color: #eae4dd;
    width: 100%;
    margin: 60px 0 20px 0;
    font-size: 1.75rem;
    padding: 2px 5px 0 5px;
}


/*footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 30px 0 30px 0;
    width: 100%;
    border-radius: 30px;
    background-color: #eae4dd;
    border: #2b2c2c 3px solid;
}

footer #contact {
    background-color: #eae4dd;
}

footer .content-wrapper {
    width: 90%;
    text-align: center;
    display: block;
    margin: 50px 0;
    color: #2b2c2c;
    background-color: #eae4dd;
    font-family: 'Open-Dyslexic', sans-serif;
}

#contact h3 {
    margin: 0 0 30px 0;
    line-height: 1.5;
    width: 100%;

}

footer .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

footer .contact-info {
    margin: 20px 0 20px 0;
    display: block;
    width: 60%;
}

footer .fa-solid {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2b2c2c;
}

footer .follow-section {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 10px;
}

footer .contact-title {
    margin: 10px 0 10px 0;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
}

footer .social-icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    padding: 20px;
}

footer .social-icons li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}


footer p {
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.5;
}



footer .copyright {
    padding: 20px;
}


/* -------------------MAIN ---------------- */


#work {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    border: #2b2c2c 3px solid;
    background-color: #eae4dd;
    padding: 50px 0;
}

/* ---------------------- Change Background Color -----*/
/*   
  #work:hover {
    background: hsla(326, 46%, 75%, 0.9);
  } */

main .content-wrapper {
    width: 85%;
    text-align: center;

}

#work h3 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}




.portfolio-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.portfolio-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}


.portfolio-project figure {
    width: 100%;
    margin: 20px 0 50px 0;
    text-align: center;
    filter: drop-shadow(1px 2px 6px #2b2c2c);
    align-items: center;
}

.portfolio-project img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.portfolio-project h4 {
    font-weight: bold;
    margin: 0 0 15px 0;
    line-height: 1.5;
    width: 100%;
    text-align: center;
}

.project-description {
    margin: 0 0 30px 0;
}

#work p {
    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.5;
}

#work span {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #2b2c2c;
}

#work .flex-fill p {
    margin: 0;
}

.project-link {
    margin: 40px 0 60px 0;
    font-size: 1.125rem;
    background-color: #2b2c2c;
    color: #eae4dd;
    text-transform: uppercase;
    padding: 0.75rem 3.75rem;
    border-radius: 30px;
}

main .flex-fill {}


/* --------------SKILLS -----------*/
#skills {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    border-radius: 30px;
    background-color: #eae4dd;
    border-radius: 30px;
    border: #2b2c2c 3px solid;
}

/* ---------------------- Change Background Color -----*/


#skills .content-wrapper {
    width: 85%;
    display: block;
    text-align: center;
    margin: 50px 0;
}

.skills-header {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.skill-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.skill-wrapper p {
    font-size: 1rem;
    padding: 20px 0;
    line-height: 1.5;
    text-align: center;
    margin: 20px 0;
    width: 90%;
    background-color: #2b2c2c;
    color: #eae4dd;
    font-weight: bold;
}

#skills h4 {
    font-weight: bold;
    line-height: 1.5;
    margin: 30px 0;
    width: 100%;
    text-align: center;
}

/* -------- TOOLS ----------*/

.tool-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.tool-wrapper p {
    font-size: 1rem;
    padding: 20px 0;
    background-color: #2b2c2c;
    color: #eae4dd;
    line-height: 1.5;
    text-align: center;
    margin: 20px 0;
    width: 90%;
}

.tool-wrapper h4 {
    font-weight: bold;
    line-height: 1.5;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}




/* -------------ABOUT ---------*/

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 60px 0;
    border-radius: 30px;
    border: #2b2c2c 3px solid;
    background-color: #eae4dd;
}


#about .content-wrapper {
    width: 85%;
    display: block;
    text-align: center;
    background-color: #eae4dd;

}



#about figure {
    width: 95%;
    margin: 20px 0 40px 0;
}

#profile-image {
    width: 90%;
    /* vertical-align: middle; */
    border-style: none;
}

#about .about-info h4 {
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 40px 0;
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
}


#about h3 {
    margin: 40px 0 40px 0;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    font-size: 2rem;
}


#about .about-text {
    margin: 0 0 30px 0;
}

#about p {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    width: 100%;
}

#about span {
    font-weight: bold;
    margin: 20px 0;

}


/* -------- VALUES ------- */
#values {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    border-radius: 30px;
    background-color: #eae4dd;
    border-radius: 30px;
    border: #2b2c2c 3px solid;
}

/* ---------------------- Change Background Color -----*/


#values .content-wrapper {
    width: 85%;
    display: block;
    text-align: center;
    margin: 50px 0;


}

.values-header {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}



.values-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.values-wrapper p {
    font-size: 1rem;
    padding: 20px 0;
    line-height: 1.5;
    text-align: center;
    margin: 20px 0;
    width: 90%;
    background-color: #2b2c2c;
    color: #eae4dd;
    font-weight: bold;
}



/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
    display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
    visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*---------------------------Tablet ---------------*/
@media only screen and (min-width:768px) {

    /* ------------------ HEADER -------------*/
    header {
        padding-top: 50px;
        padding-bottom: 80px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }

    header .content-wrapper {
        display: flex;
        justify-content: center;

        align-items: flex-end;
        flex-flow: row wrap;
        width: 90%;
    }


    /* ------ NAV -----*/

    .topnav {
        width: 100%;
        text-align: left;
    }

    .languages {
        text-align: left;
    }

    header .home-title {
        max-width: 95%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        font-size: 3rem;
        margin: 0;
    }

    header h2 {
        width: 100%;
        margin: 40px 0 0 0;
        font-size: 2rem;
    }

    /* ---------- FOOTER -------*/
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        padding: 50px 0 50px 0;
        border-radius: 30px;
    }


    footer .content-wrapper {
        width: 85%;
        text-align: center;
        display: block;
    }

    #contact h3 {
        margin: 0 0 20px 0;
        font-size: 2.5rem;
        line-height: 1.5;
        width: 100%;

    }

    footer .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
    }

    footer .contact-info {
        margin: 30px 0 30px 0;
        display: block;
        width: 33%;
    }

    footer .contact-info-follow {
        width: 33%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 30px 0 30px 0;
    }

    footer .contact-title {
        margin: 0 0 30px 0;
        display: block;
        font-weight: bold;
        font-size: 1.5rem;
    }

    footer .social-icons {
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 12.5em;
    }

    footer .social-icons li {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
    }

    footer ul {
        flex-direction: row;
        align-items: center;
    }

    footer p {
        font-size: 1.25rem;
        margin: 0;
        line-height: 1.5;
    }

    footer .fa-solid {
        margin-top: 20px;}


    /* -------------MAIN-------------------*/

    /* -----------------PROJECTS--------------*/


    #work {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 60px;
        border-radius: 30px;
    }

    /* -------------Change Background-----*/
    /* #work:hover {
      background: hsla(326, 46%, 75%, 0.9);
    } */

    main .content-wrapper {
        width: 85%;
        text-align: center;
    }

    #work h3 {
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }


    .porfolio-header {
        margin: 0 0 60px 0;
    }

    .portfolio-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        text-align: center;
        align-items: start;
        /* align-items: stretch;*/
    }

    .portfolio-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        align-items: center;
        text-align: center;
    }


    .portfolio-project figure {
        width: 100%;
        margin: 20px 0 40px 0;
        text-align: center;
    }

    .portfolio-project img {
        width: 100%;
        vertical-align: middle;
        border-style: none;
        overflow-clip-margin: content-box;
        overflow: clip;
    }

    .portfolio-project h4 {
        font-weight: bold;
        margin: 0 0 15px 0;
        line-height: 1.5;
        width: 100%;
        text-align: center;

    }

    .project-description p {
        margin: 0 0 30px 0;
    }

    #work p {
        width: 100%;
        text-align: left;

        font-size: 1.25rem;
        line-height: 1.5;


    }

    #work span {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.5;

    }

    #work .flex-fill p {
        flex-grow: 1;
        margin: 0;
    }

    .project-link {
        margin: 40px 0 80px 0;
        font-size: 1rem;
        padding: 0.75rem 3.75rem;
        border-radius: 30px;
        text-align: center;
    }



    /* --------------SKILLS -----------*/
    #skills {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        border-radius: 30px;
    }

    /* ---------------------- Change Background Color -----*/
    /* #skills:hover {
    background: hsla(184, 46%, 75%, 0.9);
  } */

    #skills .content-wrapper {
        width: 85%;
        display: block;
        text-align: center;
        margin: 50px 0;
        border-radius: 30px;

    }

    .skills-header {
        margin-bottom: 40px;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.5;
        margin: 0;
        text-align: center;
    }


    .skill-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        text-align: center;
    }

    .skill-wrapper p {
        font-size: 1rem;
        padding: 20px 0;
        line-height: 1.5;
        text-align: center;
        margin: 20px 0;
    }


    #skills .skill {
        width: 45%;
    }

    #skills h4 {

        font-weight: bold;
        line-height: 1.5;
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }

    /* -------- TOOLS ----------*/

    .tool-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        text-align: center;
    }


    .tool-wrapper p {
        font-size: 1rem;
        padding: 20px 0;
        line-height: 1.5;
        text-align: center;
        margin: 20px 0;
    }

    .tool-wrapper h4 {

        font-weight: bold;
        line-height: 1.5;
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }

    #skills .tool {
        width: 45%;
    }


    /* -------------ABOUT ---------*/

    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        padding: 100px 0;
        border-radius: 30px;
    }


    #about .content-wrapper {
        width: 85%;
        display: block;
        text-align: center;
    }

    .about-content-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }

    #about figure {
        width: 45%;
        margin: 0;
        align-self: normal;
    }

    #profile-image {
        width: 90%;
        vertical-align: middle;
        border-style: none;
    }

    #about .about-info {
        align-items: center;
    }

    #about .about-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
    }

    #about h3 {
        margin: 80px 0;
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.5;
        margin: 0;
        text-align: center;
    }

    #about .about-info h4 {
        font-weight: bold;
        line-height: 1.5;
        margin: 0 0 30px 0;
        text-align: center;
    }


    #about .about-text {
        font-size: 1.25rem;
        line-height: 1.5;
        text-align: left;
        margin: 0 0 30px 15px;
    }

    #about span {
        font-weight: bold;
        font-size: 1.5rem;
        width: 100%;
    }

    /* -----VALUES------- */

    #values {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        border-radius: 30px;
    }

    #values .content-wrapper {
        width: 85%;
        display: block;
        text-align: center;
        margin: 50px 0;
        border-radius: 30px;

    }

    .values-header {
        margin-bottom: 40px;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.5;
        margin: 0;
        text-align: center;
    }

    .values-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        text-align: center;
    }

    .values-wrapper p {
        font-size: 1rem;
        padding: 20px 0;
        line-height: 1.5;
        text-align: center;
        margin: 20px 0;
    }

    #values .value {
        width: 45%;
    }

    #values h4 {

        font-weight: bold;
        line-height: 1.5;
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }



}

/* -------------MAIN-------------------*/

/* ------------------ DESKTOP --------------*/
@media only screen and (min-width: 1200px) {

    /*Desktop styles here*/

    /* ------------------------ HEADER ---------*/
    header {
        padding-top: 50px;
        padding-bottom: 140px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }

    header .content-wrapper {
        display: flex;
        justify-content: center;
        width: 85%;
        align-items: flex-end;
        flex-flow: column wrap;
    }

    .topnav {
        width: 100%;
    }

    header .home-title {
        max-width: 95%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        font-size: 4rem;
        margin: 0;
    }

    header h2 {
        width: 100%;
        margin: 40px 0 40px 0;
        font-size: 3rem;
    }



    /* --------------MAIN--------*/



    /* -------- FOOTER -------*/
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        padding: 140px 0 140px 0;
        border-radius: 30px;
    }



    footer .content-wrapper {
        width: 70%;
        text-align: center;
        display: block;
    }

    #contact h3 {
        margin: 0 0 60px 0;
        font-size: 2.5rem;
        line-height: 1.5;
        width: 100%;

    }

    footer .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
        text-align: center;
    }

    footer .contact-info {
        margin: 80px 0 80px 0;
        display: block;
        width: 40%;
    }

    footer .contact-info-follow {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 80px 0 80px 0;
        width: 40%;
    }

    footer .contact-title {
        margin: 0 0 30px 0;
        display: block;
        font-weight: 400;
        font-size: 1.5rem;
        width: 100%;
        line-height: 1.5;
    }

    footer .social-icons {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    footer .social-icons li {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
    }

    footer p {
        font-size: 1.25rem;
        margin: 0;
        line-height: 1.5;
        text-align: center;
    }
    footer .fa-solid {
        margin-top: 25px;}

    /* -------------MAIN-------------------*/

    /* -----------------PROJECTS--------------*/


    #work {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 80px;
        border-radius: 30px;
    }

    /* ---------------------- Change Background Color -----*/


    main .content-wrapper {
        width: 85%;
        text-align: center;

    }

    #work h3 {
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }


    .porfolio-header {
        margin: 0 0 60px 0;
    }

    .portfolio-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        text-align: center;
        align-items: start;
        /* align-items: stretch;*/
    }

    .portfolio-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        align-items: center;
        text-align: center;
    }


    .portfolio-project figure {
        width: 100%;
        margin: 20px 0 40px 0;
        text-align: center;
        align-items: center;
    }

    .portfolio-project img {
        width: 100%;
        vertical-align: middle;
        border-style: none;
        overflow-clip-margin: content-box;
        overflow: clip;
    }

    .portfolio-project h4 {
        font-weight: bold;
        margin: 0 0 15px 0;
        line-height: 1.5;
        width: 100%;
        text-align: center;

    }

    .project-description p {
        margin: 0 0 30px 0;
    }

    #work p {
        width: 100%;
        text-align: left;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    #work span {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.5;

    }

    #work .flex-fill p {
        flex-grow: 1;
        margin: 0;
    }

    .project-link {
        margin: 40px 0 80px 0;
        font-size: 1rem;
        padding: 0.75rem 3.75rem;
        border-radius: 30px;
    }



    /* --------------SKILLS -----------*/
    #skills {
        padding: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        border-radius: 30px;
    }

    /* ---------------------- Change Background Color -----*/
    /* #skills:hover {
      background: hsla(184, 46%, 75%, 0.6);
    } */

    #skills .content-wrapper {
        width: 85%;
        display: block;
        text-align: center;
        margin: 50px 0;
    }

    .skills-header {
        margin-bottom: 40px;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.5;
        margin: 0;
        text-align: center;
    }

    .skill-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
    }

    .skill-wrapper p {
        font-size: 1rem;
        padding: 20px 0;
        line-height: 1.5;
        text-align: center;
        margin: 20px 0;
    }


    .skill {
        width: 30%;
    }

    #skills h4 {
        font-weight: bold;
        line-height: 1.5;
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }

    /* -------- TOOLS ----------*/

    .tool-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
    }


    .tool-wrapper p {
        font-size: 1rem;
        padding: 20px 0;
        line-height: 1.5;
        text-align: center;
        margin: 20px 0;
    }

    .tool-wrapper h4 {
        font-weight: bold;
        line-height: 1.5;
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }

    .tool {
        width: 30%;
    }


    /* -------------ABOUT ---------*/

    #about {
        width: 100%;
        padding: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    #about .content-wrapper {
        max-width: 1450px;
        display: block;
        text-align: center;
        width: 85%;
    }

    .about-content-wrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    #about figure {
        width: 45%;
        margin: 30px 0;
        align-self: center;
    }

    #profile-image {
        width: 90%;
        border-style: none;
    }



    #about .about-info {
        width: 100%;
    }

    #about .about-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
    }

    #about .about-info h3 {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.5;
        margin: 0;
        text-align: left;
    }

    #about .about-info h4 {
        font-weight: bold;
        line-height: 1.5;
        margin: 35px 0;
        width: 100%;
        text-align: left;
        font-size: 1.75rem;
    }


    #about .about-text {
        line-height: 1.5;
        margin: 0 0 30px 0;
        font-size: 1.5rem;
        text-align: left;
        margin-left: 15px;
        margin-bottom: 40px;
        width: 53%;
    }

    #about .about-info span {
        font-weight: bold;
        font-size: 1.75rem;
        margin: 35px 0;
        width: 100%;
    }

    /* -----VALUES------- */

    #values {
        padding: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        border-radius: 30px;
    }

    #values .content-wrapper {
        width: 85%;
        display: block;
        text-align: center;
        margin: 50px 0;
    }

    #values .values-header {
        margin-bottom: 40px;
    }

    .values-wrapper p {
        font-size: 1rem;
        padding: 20px 0;
        line-height: 1.5;
        text-align: center;
        margin: 20px 0;
    }

    #values .value {
        width: 30%;
    }

}